*{margin: 0; padding: 0;font-family: Helvetica, Arial, Sans-Serif;}
ul, li {list-style: none; padding: 0; margin: 0;}
h3 {text-align: center; color: #666;}
.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 50px;
}
.container:after {
  display: block;
  content: '';
  clear: both;
}
.container .actions {
  float: right;
  width: 100%;
  padding-top: 40px;
}
.cards {
  float: left;
  width: 100%;
}
.cards li {
  width: 100%;
  float: left;
  position: relative;
  color: #000;
  margin-bottom: 4px;
  background-color: #e0e0e0;
}
.cards li .bg {
  height: inherit;
  display: block;
  width: 3%;
  min-height: 60px;
}
.cards li .num {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
}
.container .actions button {
  background: #72c3dc;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 3px #2b8ead solid;
  margin-bottom: 20px;
  color: #fff;
}
@media only screen and (min-width: 375px) {  
  .cards li {
    width: 33.3333%;
    height: 240px;
    line-height: 230px;
    font-size: 100px;
    color: #fff;
  }
  .cards li .num {
    line-height: 240px;
  }
  .cards li .bg {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container .actions {
    width: 25%;
  }
  .container .actions button {
    width: 75%;
  }
  .cards {
    width: 75%;
  }
  .cards li {
    width: 33.3333%;
    height: 240px;
    line-height: 230px;    
  }
}
